<h2>ID</h2>
<div class="header-fields">
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Poney Name"/></h1>  
  </div>
  <div class="header-fields">
    <h1 class="charname"><input name="data.poneyType" type="text" value="{{data.poneyType}}" placeholder="Poney Type"/></h1>  
  </div>
  <div class="header-fields">
    <h1 class="charname"><input name="data.level" type="text" value="{{data.level}}" placeholder="Level"/></h1>  
  </div>
  <div class="header-fields">
    <h1 class="charname"><input name="data.elementOfHarmony" type="text" value="{{data.elementOfHarmony}}" placeholder="Element of Harmony"/></h1>  
    <h1 class="charname"><input name="data.friendship" type="text" value="{{data.friendship}}" placeholder="Friendship"/></h1>  
  </div>