<h2>Attributes</h2>
<div class="attributes grid grid-3col">
    <label for="data.body.value" class="">BODY</label>
    <input type="text" name="data.body.value" value="{{data.body.value}}" data-dtype="Number"/>
  </div>

  <div class="attributes grid grid-3col">
    <label for="data.mind.value" class="">MIND</label>
    <input type="text" name="data.mind.value" value="{{data.mind.value}}" data-dtype="Number"/>
  </div>

  <div class="attributes grid grid-3col">
    <label for="data.charm.value" class="">CHARME</label>
    <input type="text" name="data.charm.value" value="{{data.charm.value}}" data-dtype="Number"/>
  </div>