<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <!-- Header with logo -->
  <header>

  </header>

  <!-- Poney id and friendship -->
  <section>
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-poney-id.html" }}
  </section>

  <!-- Stamina -->
  <section>
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-poney-stamina.html" }}
  </section>

  <!-- Attributes -->
  <section>
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-poney-attributes.html" }}
  </section>

  <!-- Portrait , talents, quirks and beauty mark -->
  <section>
    <!-- Portrait -->
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-poney-portrait.html" }}
    
    <!-- Talents -->
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-poney-talents.html" }}


    <!-- Quirks-->
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-poney-quirks.html" }}


    <!-- Cutie Mark -->
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-poney-cutiemark.html" }}
  </section>

  <section>
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-items.html" }}
  </section>
</form>
  