<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <!-- Header with logo -->
  <header>

  </header>

  <!-- Pony id and friendship -->
  <section>
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-pony-id.html" }}
  </section>

  <!-- Stamina -->
  <section>
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-pony-stamina.html" }}
  </section>

  <!-- Attributes -->
  <section>
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-pony-attributes.html" }}
  </section>

  <!-- Portrait , talents, quirks and beauty mark -->
  <section>
    <!-- Portrait -->
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-pony-portrait.html" }}
    
    <!-- Talents -->
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-pony-talents.html" }}


    <!-- Quirks-->
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-pony-quirks.html" }}


    <!-- Cutie Mark -->
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-pony-cutiemark.html" }}
  </section>

  <section>
    {{> "systems/tails-of-equestria/templates/actor/parts/actor-items.html" }}
  </section>
</form>
  